*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body{
    background: #080808;
    color: #fff;
  }
  
  .container{
    padding: 10px 10%;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  nav h1{
    font-size: 3rem;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  
  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  
  nav ul li a:hover::after{
    width: 100%;
  }


  /* About Section Styling */

  .about{
    margin-top: 50px;
    max-width: 90%;
    min-width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(131, 123, 123);
    position: relative;
    left: 70px;
    padding-top: 50px;
  }

  .img #my-img{
    width: 400px;
    height: auto;
    padding-bottom: 50px;
    
  }
.stats{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}